@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

.showlittle {
    display: flex;
    flex-direction: column;
    margin-right: var(--offset-bmd);

    .image {
        width: 250px;
        height: 350px;
        max-width: 250px;
        max-height: 350px;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        padding-bottom: 8px;

        & > img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .middle{
        position: relative;
        display: flex;
        justify-content: center;
        transition: .5s ease;
        opacity: 0;
        bottom: 30%;
        border: none;
        outline: none;
        background-color: inherit;
        right: 0;
        left: 47%;
        transform: translate(-50%, -50%);
        align-items: center;
    }

    .text {
        display: flex;
        border: 1px solid black;
        font-size: var(--offset-sm);
        padding: var(--ofset-xs);
    }

    a {
        text-decoration: none;
        color: var(--black);
    }

    span {
        display: flex;
        max-width: 250px;
    }
}

.showlittle:hover img {
    opacity: 0.7;
}

.showlittle:hover .middle {
    opacity: 1;
}

.text:hover {
    background-color: #e6c49c;
    color: black;
}

.showlittle:nth-child(4){
    margin-right: 0;
}
