.showlittle {
    display: flex;
    flex-direction: column;

    .goods {
        padding-bottom: 16px;

        img {
            width: 250px;
            height: 350px;
            padding-right: 32px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}