@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://allfont.ru/allfont.css?fonts=cinzel');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

*{
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("../../asset/images/12.jpg");
    background-size: 100% 100%;
    overflow-y: hidden;

    .header {
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: space-between;
        align-items: center;

        .search {
            align-items: center;
            margin: 16px auto;
            width: 300px;
            height: 30px;
            justify-content: center;
            display: flex;
        }

        .search .line {
            border: none;
            outline: none !important;
            border-bottom: 1px solid white;
            background: transparent;
            width: 300px;
            height: 30px;
            font-size: 20px;
            color: white;
        }

        ::placeholder {
            font-size: 20px;
            color: white;
        }

        .name {
            display: flex;
            font-size: var(--offset-lg);
            align-items: center;
            text-decoration: none;
            color: var(--white);
            font-style: normal;
            font-weight: lighter;
            padding-left: var(--offset-bmd);
        }

        .ref {
            display: flex;
            height: 30px;
            //width: 138px;
            color: var(--white);
            align-items: center;
            text-decoration: none;
            //padding: 0;
        }

        .box {
            height: 30px;
            width: 30px;
        }

        .text {
            padding-left: var(--ofset-xs);
            font-size: var(--offset-sm);
        }
    }

    .arrow_div {
        display: flex;
        flex-direction: row;
        height: 45%;
        align-items: flex-end;
        justify-content: flex-end;

        .arrow_d {
            display: flex;
            flex-direction: row;
            height: 35px;
            width: 150px;
            color: var(--white);
            right: 0;
            margin: 0;
            padding: 0;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
        }
    }
    .home {
        height: 55%;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        text-decoration: none;
            .rectangle {
                display: flex;
                width: 220px;
                height: 50px;
                background: transparent;
                border: 2px solid white;
                color: var(--white);
                text-decoration: none;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

    }
}

.back {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position:fixed;
    overflow:hidden;
}

.arrow {
    width: 55px;
    height: 35px;
}

.arrow_man {
    font-size: 20px;
}


