@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url("./src/asset/images/627562885c953549e1a1d9e1760291d1.jpg");
    background-size: 100%;
}

.login {
    position: absolute;
    width: 404px;
    height: 300px;
    left: 179px;
    top: 160px;
    font-size:150%;
    font-family: Roboto, sans-serif;
    /*background-image: url(images/fbeb75f1ab6c7f54d424e6556bf9c68d.jpg);*/
    /*background-color:#C38765;*/
}

.adress .line{
    border: none;
    outline: none !important;
    border-bottom: 1px solid #C7C7C0;
    font-family: Roboto, sans-serif;
    width:400px;
    background: transparent;
    height: 20px;
    font-size: 20px;
    /*margin-bottom:50px;*/
}

#email {
    margin-bottom:50px;
}

.adress{
    /*padding-bottom:10px;*/
}

::placeholder {
    font-size: 20px;
}

.forget {
    font-size: 17px;
    color: #575551;
    padding-bottom: 40px;
}

.button{
    font-size: 17px;
    border: none;
    width: 400px;
    height: 35px;
    background-color: #C3A68A;
}

/*.line {
	border: none;
	outline: none !important;
	border-bottom: 1px solid #C7C7C0;
	font-family: Roboto, sans-serif;
	width:230px;
	background-color:orange;
}*/

.registration {
    position: absolute;
    font-size:150%;
    font-family: Roboto, sans-serif;
    width: 400px;
    height: 300px;
    left: 730px;
    top: 160px;
    /*padding-bottom: 32px;*/
}

.registration .text {
    margin-top: 35px;
    margin-bottom: 32px;
    font-size: 20px;
    color: #575551;
}
/*.wrapper {
    background: rgb(50, 123, 141);

> .login-form {
    padding: 20px;
    background-color: white;
    max-width: 416px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    }
}*/

.main {
    position: absolute;
    width: 1100px;
    height: 500px;
}