@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: #deb585;
}

.box1 {
    height: 30px;
    width: 30px;
}
.ref1 {
    position: absolute;
    height: 30px;
    width: 120px;
    color: black;
    right: 0;
    top: 0;
    align-items: center;
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.heading {
    position: relative;
    width: 100%;
    font-family: Roboto;
    left: 120px;
    top: 100px;
}

.menu {
    width: 200px;
    left: 0;
    top: 0;
    height: 100%;
}


.prod1 {
    width: 256px;
    height: 354px;
    margin-right: 50px;
}
