@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import '../../__data__/style/sizes.css';
@import '../../__data__/style/colors.css';

* {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    background: var(--main);
}

.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    .name {
        display: flex;
        font-size: var(--offset-lg);
        align-items: center;
        text-decoration: none;
        color: var(--black);
        font-style: normal;
        font-weight: lighter;
        padding-left: var(--offset-bmd);
    }
}

.scan{
    margin-top: 50px;
    margin-left: 200px;
}

.show {
    display: flex;
    flex-direction: column;
    padding-top: var(--offset-bmd);
    margin-left: 200px;

    .showrow {
        display: grid;
        grid-row-gap: 64px;
        grid-template-columns: 21% 21% 21% 21%;
        margin-bottom: var(--offset-mlg);
    }

    .del {
        margin-top: var(--offset-sm);
        border: none;
        background-color: var(--main);
        text-align: left;
        font-size: var(--offset-sm);
    }
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid;

    .continue {
        display: flex;
        box-sizing: border-box;
        border: 1px solid black;
        padding: var(--offset-sm);
        margin-top: var(--offset-md);
        margin-bottom: var(--offset-md);
        text-decoration: none;
        text-align: center;
        justify-content: center;
        width: 15%;
        color: var(--black);
    }

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

body {
    background: var(--main);
}